### Calculating Errors

Here are two datasets that represent two of the examples you have seen in this lesson.  

One dataset is based on the parachute example, and the second is based on the judicial example.  Neither of these datasets is based on real people.

Use the exercises below to assist in answering the quiz questions at the bottom of this page.

In [1]:
import numpy as np
import pandas as pd

jud_data = pd.read_csv('judicial_dataset_predictions.csv')
par_data = pd.read_csv('parachute_dataset.csv')

In [2]:
jud_data.head()

   defendant_id    actual predicted
0         22574  innocent  innocent
1         35637  innocent  innocent
2         39919  innocent  innocent
3         29610    guilty    guilty
4         38273  innocent  innocent

In [40]:
par_data.tail()

      parachute_id actual predicted
5824          3014  opens     opens
5825          7870  opens     opens
5826          8984  opens     opens
5827          8147  opens     opens
5828          4958  opens     opens

`1.` Above, you can see the actual and predicted columns for each of the datasets.  Using the **jud_data**, find the proportion of errors for the dataset, and furthermore, the percentage of errors of each type.  Use the results to answer the questions in quiz 1 below.  

**Hint for quiz:** an error is any time the prediction doesn't match an actual value.  Additionally, there are Type I and Type II errors to think about.  We also know we can minimize one type of error by maximizing the other type of error.  If we predict all individuals as innocent, how many of the guilty are incorrectly labeled?  Similarly, if we predict all individuals as guilty, how many of the innocent are incorrectly labeled?

In [27]:
t1=jud_data.query('actual=="innocent" and predicted=="guilty"')
len(t1)/len(jud_data)

0.001510366607167376

In [28]:
t2=jud_data.query('actual=="guilty" and predicted=="innocent"')
len(t2)/len(jud_data)

0.04064259233832212

In [29]:
total_errors=(len(t1)+len(t2))/len(jud_data) 
total_errors

0.042152958945489497

In [37]:
len(jud_data[jud_data['actual'] == 'innocent'])/len(jud_data)

0.45159961554304545

`2.` Using the **par_data**, find the proportion of errors for the dataset, and furthermore, the percentage of errors of each type.  Use the results to answer the questions in quiz 2 below.

These should be very similar operations to those you performed in the previous question.

In [43]:
t1=par_data.query('actual=="fails" and predicted=="opens"')
len(t1)/len(par_data)

0.00017155601303825698

In [42]:
t2=par_data.query('actual=="opens" and predicted=="fails"')
len(t2)/len(par_data)

0.03980099502487562

In [44]:
len(t1+t2)/len(par_data)

0.039972551037913875

In [46]:
par_data[par_data[=='fails']

      parachute_id actual predicted
0              NaN    NaN       NaN
1              NaN    NaN       NaN
2              NaN    NaN       NaN
3              NaN    NaN       NaN
4              NaN    NaN       NaN
5              NaN    NaN       NaN
6              NaN    NaN       NaN
7              NaN    NaN       NaN
8              NaN    NaN       NaN
9              NaN    NaN       NaN
10             NaN    NaN       NaN
11             NaN    NaN       NaN
12             NaN    NaN       NaN
13             NaN    NaN       NaN
14             NaN    NaN       NaN
15             NaN    NaN       NaN
16             NaN    NaN       NaN
17             NaN    NaN       NaN
18             NaN    NaN       NaN
19             NaN    NaN       NaN
20             NaN    NaN       NaN
21             NaN    NaN       NaN
22             NaN    NaN       NaN
23             NaN    NaN       NaN
24             NaN    NaN       NaN
25             NaN    NaN       NaN
26             NaN    NaN       NaN
27             NaN    NaN       NaN
28             NaN    NaN       NaN
29             NaN    NaN       NaN
...            ...    ...       ...
5799           NaN    NaN       NaN
5800           NaN    NaN       NaN
5801           NaN    NaN       NaN
5802           NaN    NaN     fails
5803           NaN    NaN       NaN
5804           NaN    NaN       NaN
5805           NaN    NaN       NaN
5806           NaN    NaN       NaN
5807           NaN    NaN       NaN
5808           NaN    NaN       NaN
5809           NaN    NaN       NaN
5810           NaN    NaN       NaN
5811           NaN    NaN       NaN
5812           NaN    NaN       NaN
5813           NaN    NaN       NaN
5814           NaN    NaN       NaN
5815           NaN    NaN       NaN
5816           NaN    NaN       NaN
5817           NaN    NaN       NaN
5818           NaN    NaN       NaN
5819           NaN    NaN       NaN
5820           NaN    NaN     fails
5821           NaN    NaN       NaN
5822           NaN    NaN       NaN
5823           NaN    NaN       NaN
5824           NaN    NaN       NaN
5825           NaN    NaN       NaN
5826           NaN    NaN       NaN
5827           NaN    NaN       NaN
5828           NaN    NaN       NaN

[5829 rows x 3 columns]